@charset "utf-8";
p, h1, h2, h3, ul, li, dl, dd, body   {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
	font-weight: normal;
	vertical-align: top;
}
.slide p {
	float: left;
}
img {
	vertical-align: bottom;
}
.mainimage img {
	height: auto;
	max-width: 100%;
}
.sec1 .message img {
	height: auto;
	max-width: 100%;
}
.sec2 .character_statue_sp img {
	height: auto;
	max-width: 100%;
}
.sec3 img {
	height: auto;
	max-width: 100%;
}
.sec4 img {
	height: auto;
	max-width: 100%;
}
a {
	text-decoration: none;
}
nav ul {
	display: flex;
	margin-top: 42px;
}
nav {
	display: flex;
	padding-bottom: 15px;
}
nav li a {
	margin: 0 20px;
	color: #FFFFFF;
	position: relative;
	display: inline-block;
	text-decoration: none;
}
nav li a::after {
	position: absolute;
	bottom: -4px;
	content: "";
	width: 100%;
	height: 2px;
	background-color: #ff0018;
	transform: scale(0, 1);
	transform-origin: left top;
	transition: transform .3s;
	left: 0px;
}
nav li a:hover::after {
	transform: scale(1, 1);
}


nav li a:hover {
	color: #ff0018;
}
header .inner {
	display: flex;
	margin: 0 auto;
	width: 1000px;
}
header h1 {
	margin-top: 14px;
}
header h1 img {
	height: auto;
	max-width: 100%;
}
header {
	background-color: #50514F;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 99;
}
.mainimage {
	background-image: url(../img/topimg.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
}
.mainimage .inner {
	width: 1000px;
	display: flex;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	padding-top: 70px;
}
.mainimage .catchcopy_sp {
	display: none;
}
.mainimage .inner .catchcopy_pc img {
	max-width: none;
	padding-top: 80px;
	padding-right: 20px;
}

.mainimage .inner .mimg {
	/* [disabled]margin-top: -90px; */
}
.sec1 .concept {
	background-color: #cbd4c2;
	padding: 20px 0;
}
.sec1 .concept .inner {
	background-color: #fff;
	width: 1000px;
	padding-top: 0px;
	margin-top: 80px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	background-image: url(../img/CONCEPT.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.sec1 .concept .inner h2 {
	font-weight: bold;
	border-bottom: 10px solid hsla(354,100%,50%,0.75);
	width: 170px;
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
}
.sec1 .description {
	margin: 40px auto;
	width: 69%;
}
.sec1 .box-area {
	margin-left: 100px;
	display: flex;
}
.sec1 .box-area .box {
	display: flex;
	padding-bottom: 70px;
}
.sec1 .box p:first-child {
	padding-right: 30px;
}
.sec1 .box p:nth-child(2) {
	overflow-wrap: break-word;

}
.sec1 .box-set {
	padding-right: 25px;
}
.sec1 .message {
}
.sec1 .message .inner {
	margin: 0 auto;
}
.sec1 .president_massage h3  {
	padding-top: 53px;
	z-index: 10;
	position: relative;
	margin-left: -0px;
}
.sec1 .president_img_pc {
	text-align: right;
	margin-top: -180px;
}
.sec1 .president_massage .catchcopy_ceo_pc {
	padding-top: 30px;
	z-index: 10;
	position: relative;
	margin-left: 0px;
}
.sec1 .president_massage .catchcopy_ceo_sp {
	display: none;
}
.sec1 .president_img_sp  {
	display: none;
}
.sec1 .president_img {
	margin-top: -228px;
	margin-right: -30px;
}
.sec1 .president_massage .readmorebtn {
	margin-top: -75px;
	margin-left: 20px;
	padding-bottom: 50px;
}
.sec1 .president_massage .readmorebtn img {
	cursor: pointer;
}
.sec1 .president_massage {
	margin: 0 auto;
	width: 1000px;
}
.sec1 .message_text {
	background-image: url(../img/message_back.png);
	background-repeat: no-repeat;
	background-size: cover;
	/* [disabled]width: 100%; */
	color: #fff;
	padding-left: 80px;
	padding-top: 40px;
	display: none;
}
.sec1 .message_text .inner {
	margin: 0 auto;
	width: 1000px;
}
.sec1 .message_text p {
	padding-bottom: 40px;
	overflow-wrap: break-word;
}
.sec2 {
	margin-right: auto;
	margin-left: auto;
	background-color: #cbd4c2;
	padding-top: 80px;
	padding-bottom: 80px;
}
.sec2 .inner {
	margin: 0 auto;
	width: 1000px;
}
.sec2 .inner h2 {
	font-weight: bold;
	width: 170px;
	border-bottom: 10px solid hsla(354,100%,50%,0.75);
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	text-align: center;
	padding-top: 40px;
	position: relative;
	z-index: 10;
}
.sec2 .character_statue_pc img {
	text-align: center;
	margin-top: -80px;
	margin-right: auto;
	margin-left: auto;
	height: auto;
	max-width: 100%;
}
.sec2 .character_statue_sp {
	display: none;
}
.sec3 {
	margin-bottom: 35px;
	/* [disabled]margin-top: 80px; */
	padding-top: 80px;
}
.sec3 .inner {
	margin: 0 auto;
}
.sec3 .description {
	margin: 0 auto;
	width: 1000px;
}
.sec3 .description h2 {
	font-weight: bold;
	width: 170px;
	border-bottom: 10px solid hsla(354,100%,50%,0.75);
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	position: relative;
	z-index: 10;
}
.sec3 .description .catchcopy_m_pc {
	text-align: right;
	margin-top: 55px;
	position: relative;
	z-index: 10;
	margin-right: 19px;
}
.sec3 .description .employee_img_pc {
	margin-top: -48px;
	text-align: left;
}
.sec3 .description .employee_img_sp {
	display: none;
}
.sec3 .description .catchcopy_m_sp {
	display: none;
}
.sec3 .description .box {
	padding-left: 30px;
	padding-top: 45px;
}
.sec3 .description .box p:first-child {
	font-size: 18px;
}
.sec3 .description .box p:nth-child(2) {
	font-size: 24px;
}
.sec3 .description .readmorebtn {
	padding-left: 165px;
	margin-top: -60px;
}
.sec3 .description .readmorebtn img {
	cursor: pointer;
}
.sec3 .description .headline_img {
	text-align: right;
	margin-top: -30px;
	padding-right: 20px;

}
.sec3 .interview_text {
	background-image: url(../img/interviw_back.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
	padding-bottom: 30px;
	margin-bottom: 0px;
	color: #fff;
}
.sec3 .interview_text dl {
	margin: 0 auto;
	padding: 0 20px;
	width: 1000px;
	overflow-wrap: break-word;
}
.sec3 .interview_text dt {
	padding-top: 40px;
	font-size: 20px;
	text-decoration: solid underline #50ccb7;
	text-decoration-thickness: 3px;
}
.sec4 {
	background-color: #cbd4c2;
	padding-top: 80px;
	margin-bottom: 80px;
	padding-bottom: 80px;
	margin-top: -37px;
}
.sec4 h2 {
	width: 170px;
	margin: 0 auto;
	border-bottom: 10px solid hsla(354,100%,50%,0.75);
	text-align: center;
	font-weight: bold;
}
.sec4 .inner .box {
	background-image: url(../img/contact_back.png);
	padding-top: 50px;
	margin: 0 auto;
	width: 1000px;
	height: 600px;
}
.sec4 .inner .box .inner {
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid #272626;
	width: 586px;
	padding-top: 30px;
	padding-left: 60px;
	padding-bottom: 30px;
	-webkit-box-shadow: 18px 18px 3px hsla(0,1%,19%,0.78);
	box-shadow: 18px 18px 3px hsla(0,1%,19%,0.78);
	background-color: #fff;
}
.sec5 {
	padding-top: 100px;
	background-color: #fff;
	padding-bottom: 80px;
	margin: 0 auto;
	width: 1000px;
}
.sec5 .inner {
	width: 100%;
}
.sec5 .inner h2 {
	width: 170px;
	border-bottom: 10px solid hsla(354,100%,50%,0.75);
	text-align: center;
	margin: 0 auto;
	font-weight: bold;
}
.sec5 .faq_box {
	margin: 0 auto;
	width: 730px;
	padding-top: 50px;
	padding-bottom: 40px;
}
.sec5 .faq_box dt {
	padding-top: 20px;
	font-weight: bold;
	border-bottom: 1px solid #000;
	cursor: pointer;
	position: relative;
}
.sec5 .faq_box dd {
	padding: 10px;
	width: 700px;
	overflow-wrap: break-word;
	background-color: #cbd4c2;
	display: none;

}
/* プラスマークアイコン */
.question span::before,
.question span::after {
  content: '';
  display: block;
  width: 20px;
  height: 3px;
  background: #000;
  border-radius: 10px;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  transition: .5s;
}
/* プラスマークアイコンの横棒の位置調整など*/
.question span::before {
	/* [disabled]right: -720px; */
}
.question span {
	position: absolute;
	z-index: 10;
	top: 22px;
	right: 33px;
}
/* プラスマークアイコンの縦棒の位置調整など*/
.question span::after {
	transform: translateY(-50%) rotate(90deg);
}
/* 回答部分が開いている時は縦棒を横にする*/
.question span.open::after {
  transform: translateY(-50%) rotate(0);
}
.faq_box #accordion-box .answer span {
	font-weight: bold;
	color: #ff0018;
}
.faq_box #accordion-box .answer img {
	height: auto;
	max-width: 100%;
}
#accordion-box .answer .img_box {
	display: flex;
	justify-content: space-between;
}






.sec6 {
	background-color: #fff;
	padding-top: 75px;
	text-align: center;
	padding-left: 60px;
	background-image: url(../img/about_back.png);
	background-size: cover;
}

.sec6 .inner {
	background-repeat: no-repeat;
	margin: 0 auto;
	width: 930px;
	text-align: center;
	position: relative;
	height: 1280px;
	padding-bottom: 48px;
}
.sec6 h2 {
	margin: 0 auto;
	width: 170px;
	border-bottom: 10px solid hsla(354,100%,50%,0.75);
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding-top: 55px;
}
.sec6 .companyInfo {
	background-color: hsla(0,0%,100%,0.90);
	width: 600px;
	margin-top: 80px;
	text-align: center;
	margin-left: 10%;
}
.sec6 .entryBtn {
	text-align: center;
	padding-top: 25px;
	padding-right: 60px;
}
.sec6 .entryBtn img {
	height: auto;
	max-width: 100%;
}
.sec6 .companyInfo th {
	white-space: nowrap;
	padding-left: 15px;
	padding-top: 15px;
	vertical-align: top;
	font-weight: normal;
	color: #ff0018;
}
.sec6 .companyInfo td {
	text-align: left;
	padding-top: 15px;
	padding-left: 15px;
	width: 480px;
}
.sec6 .companyInfo td li {
	list-style-position: outside;
	list-style-type: circle;
	margin-left: 20px;
	overflow-wrap: break-word;
}
.sec6 .access {
	display: flex;
	padding-top: 30px;
	padding-left: 25px;
}
.sec6 .access figure {
	padding-top: 40px;
	margin-left: -20px;
}
.sec6 .gmap {
	margin-left: 400px;
	margin-top: -150px;
}
footer {
	background-color: #50514f;
	width: 100%;
}
footer .inner {
	width: 900px;
	margin: 0 auto;
	padding-top: 45px;
	overflow-wrap: break-word;
}
footer p {
	padding: 0 20px;
	text-align: center;
}
footer .box {
	display: flex;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 22px;
	width: 80%;
	justify-content: space-around;
}
footer .box p:nth-child(2) {
	padding-top: 25px;
	padding-left: 30px;
}
footer a {
	color: #fff;
}
footer a:hover {
	color: #ff0018;
}
.btn_list {
	position: fixed;
	z-index: 99;
	right: 0px;
	bottom: 164px;
}
.btn_list .goEntry_pc {
	opacity: 0.8;
}
.btn_list .goTop_pc {
	opacity: 0.8;
}
.btn_list .goEntry_sp {
	display: none;
}
.btn_list .goTop_sp {
	display: none;
}
.btn_list .goEntry_pc:hover {
	opacity: 1;
}
.btn_list .goTop_pc:hover {
	opacity: 1;
}
.effect-fade {
　opacity : 0;
　transform : translate(0, 45px);
　transition : all 300ms;
}

.effect-fade.effect-scroll {
　opacity : 1;
　transform : translate(0, 0);
}
/*ふわっと表示*/

.offs.effect {
  opacity: 0;
  transform: translate(0, 100px);
  -webkit-transform: translate(0, 100px);
}
.ons.effect {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 1s ease;
  transition: all 1s ease；;
}
@media screen and (max-width:1060px){
header .inner {
	width: 100%;
	display: block;
}
nav ul {
	display: none;
	margin: 0 auto;
	width: 100%;
	background-color: #cbd4c2;
}
nav li a {
	width: 100%;
	display: block;
	text-align: center;
	padding: 10px 0;
	color: #010000;
}
nav li a::after {
	width: 0%;
}

#nav-toggle {
	width: 70px;
	height: 50px;
	margin-left: auto;
	position: absolute;
	right: 10px;
	margin-top: -70px;
}
header .inner {
	position: relative;
}
#nav-toggle span {
	width: 30px;
	height: 5px;
	display: block;
	position: absolute;
	left: 20px;
	background-color: #cbd4c2;
}
#nav-toggle span:nth-child(1) {
	top: 24px;
}
#nav-toggle span:nth-child(2) {
	top: 35px;
}
#nav-toggle span:nth-child(3) {
	top: 46px;
}
#nav-toggle.open span:nth-child(1) {
	top: 35px;
	transform: rotate(315deg);
}
#nav-toggle.open span:nth-child(2) {
	left: 50%;
	width: 0;
}
#nav-toggle.open span:nth-child(3) {
	transform: rotate(-315deg);
	top: 35px;
}
#nav-toggle span {
	transition: 0.3s;
}
nav {
	padding-bottom: 0px;
}
header h1 {
	padding-left: 15px;
	padding-bottom: 5px;
}
.mainimage .inner .catchcopy_pc {
	display: none;
}
.mainimage .inner .catchcopy_sp {
	margin-top: -20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	display: block;
	padding-bottom: 20px;
	z-index: 10;
}
.mainimage .inner .mimg {
	/* [disabled]margin-top: -80px; */
	margin-right: auto;
	margin-bottom: 0;
	padding-bottom: 0px;
	margin-left: auto;
	text-align: center;
}
.mainimage .inner .slide {
	text-align: center;
}

.mainimage .inner {
	flex-wrap: wrap;
	width: 100%;
	/* [disabled]padding-top: 80px; */
}
.sec1 .box-area {
	width: 70%;
	margin: 0 auto;
	flex-wrap: wrap;
}
.sec1 .concept .inner {
	width: 80%;

}
.sec1 .description {
	width: 80%;
}
.sec1 .inner .president_massage h3 {
	padding-left: 20px;
	padding-top: 20px;
}
.sec1 .president_img_pc  {
	display: none;
}
.sec1 .president_img_sp  {
	display: block;
	text-align: right;
}
.sec1 .president_massage .catchcopy_ceo_pc {
	display: none;
}
.sec1 .president_massage .catchcopy_ceo_sp {
	display: block;
	padding-top: 20px;
	text-align: right;
	padding-right: 65px;
}
.sec1 .president_massage .readmorebtn {
	margin-left: 70px;
	margin-top: 10px;
	padding-bottom: 10px;
}
.sec1 .president_massage {
	margin: 0 auto;
	width: 100%;
}
.sec1 .message_text .inner {
	width: 78%;
}
.sec1 .message_text {
	padding-left: 0px;
}
.sec2 .inner {
	margin: 0 auto;
	width: 100%;
	height: 80%;
}
.sec2 .character_statue_pc {
	display: none;
}
.sec2 .character_statue_sp {
	display: block;
	margin-top: -80px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.sec3 .description {
	width: 100%;
}
.sec3 .description h2 {
	margin-top: -10px;
	margin-bottom: 80px;
}
.sec3 .description .box {
	padding: 0;
	width: 60%;
}
.sec3 .description .box-set {
	display: flex;
	text-align: center;
	padding: 30px 0;
}
.sec3 .description .readmorebtn {
	padding: 0;
	margin: 0;
}
.sec3 .description .catchcopy_m_pc {
	display: none;
}
.sec3 .description .catchcopy_m_sp {
	display: block;
	width: 95%;
	text-align: center;
	padding: 30px 10px 0;
}
.sec3 .description .headline_img {
	display: none;
}
.sec3 .interview_text dl {
	width: 90%;
}
.sec3 .interview_text dd {
	padding-top: 10px;
}
.sec4 .inner .box {
	width: 90%;
	background-size: cover;
}
.sec4 .inner .box .inner {
	padding: 20px;
	width: 60%;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.sec6 .inner {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
.sec5 .inner {
	width: 100%;
}
.sec5 {
	width: 100%;
}

.sec5 .faq_box {
	width: 100%;
	overflow-wrap: break-word;
}
.sec5 .faq_box dd {
	padding: 30px 10%;
	width: 80%;
	overflow-wrap: break-word;
	text-align: left;
}
.sec5 .faq_box dt {
	overflow-wrap: break-word;
	padding: 30px 10%;
	width: 80%;
}
.sec5 .faq_box dt:first-child {
	border-top: 1px solid #000000;
}
.sec6 {
	text-align: left;
	padding-left: 0px;
	padding-bottom: 350px;
}
.sec6 .entryBtn {
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
}
.sec6 .companyInfo {
	width: 80%;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	text-align: center;
}
.sec6 .companyInfo th {
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}
.sec6 .companyInfo td li {
	padding-right: 20px;
}
.sec6 .companyInfo td {
	width: 75%;
}
.sec6 .access {
	display: block;
}
.sec6 .access p:first-child {
	margin-top: 100px;
	padding-bottom: 20px;
}
.sec6 .access figure {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 100px;
	width: 10%;
	padding-top: 0px;
	margin-top: -250px;
	padding-bottom: 180px;
}
.sec6 .gmap {
	margin-top: -80px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	width: 100%;
}
footer .inner {
	width: 100%;
}
.btn_list {
	position: fixed;
	bottom: 0px;
}
.question span {
	top: 40px;
	right: 60px;
}
nav li a {
	margin-left: 0px;
}
}
@media screen and (max-width:600px){
.sec1 .box-area {
	width: 90%;
}
.sec1 .box-set {
	padding-right: 0px;
}
.sec3 .description .employee_img_pc {
	display: none;
}
.sec1 .description {
	width: 88%;
}
.sec3 {
	padding-top: 80px;
}
.sec3 .description h2 {
	margin-top: 0px;
}
.sec3 .description .employee_img_sp {
	display: block;
}
.sec4 .inner .box .inner {
	border: none;
	width: 90%;
}
.sec4 .inner .box {
	background-image: none;
}
.sec4 {
	background-color: #fff;
}
.btn_list .goEntry_sp {
	display: block;
}
.btn_list .goTop_sp {
	display: block;
}
.btn_list .goEntry_pc {
	display: none;
}
.btn_list .goTop_pc  {
	display: none;
}
.sec6 .companyInfo .row th {
	width: 100%;
	display: block;
	text-align: left;
}
.sec6 .companyInfo .row td {
	display: block;
	padding: 0;
	margin: 0 20px;
	width: 90%;
}
.sec6 .access {
	padding-left: 0px;
}
.sec6 {
	padding-bottom: 450px;
}
footer {
	display: none;
}
.sec6 .gmap {
	padding-left: 0px;
}
.sec6 .gmap {
	height: 0px;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	z-index: 10;
}

.sec6 .gmap iframe {
	position: absolute;
	height: 100%;
	width: 100%;
}
.sec6 .inner {
	width: 100%;
	text-align: left;
}
.question span {
	top: 40px;
	right: 35px;
}
}
